@use "variables";

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-background);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

main {
  padding: 50px 0;
}

section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: var(--color-text-primary);
}

p {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-secondary);
}

span {
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text-secondary);
}
